.place {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #87CEEB;
}
.cube {
    height: 100px;
    width: 100px;
    background-color: darkgreen;
}
.window {
    width: 200px;
    height: 100px;
    background: blue;
}
.block {
    width: 200px;
    height: 100px;
    background: green;
}
.block2 {
    width: 200px;
    height: 100px;
    background: darkgreen;
}
.triangle4 {
    width: 0;
    height: 0;
    border-top: 100px solid green;
    border-right: 100px solid transparent;
}
.triangle3 {
    width: 0;
    height: 0;
    border-top: 100px solid green;
    border-left: 100px solid transparent;
}
.triangle {
    width: 0;
    height: 0;
    border-bottom: 100px solid green;
    border-right: 100px solid transparent;
}

.triangle2 {
    width: 0;
    height: 0;
    border-bottom: 100px solid darkgreen;
    border-left: 100px solid transparent;
}
